Ув.,
= @user.full_name
%p
  Вы были автоматически зарегестрированы в интернет магазине брендовой одежды и обуви shop-mydostavka.com.
  Для входа в личный кабинет, пожалуйста, используйте следующий пароль:
  = @random_password + "."
  Логином является указаный при оформлении заказа почтовый адрес
%p
  = link_to 'Изменить пароль', user_url(@user)
%p
  %br
  Администрация shop-mydostavka.com
