Ув.,
= @user.full_name
%p
  Вы были автоматически зарегестрированы в интернет магазине элитных часов MQShop.com.ua.
  Для входа в личный кабинет, пожалуйста, используйте следующий пароль:
  = @random_password + "."
  Логином является указаный при оформлении заказа почтовый адрес.
  Для использования личного кабинета, пожалуйста, подтвердите Ваш аккаунт. 
%p
  %br
  Администрация otpravka.com.ua
