%p
  Добрый день! Ваш Номер заказа: ##{"%05d" % @order.id}
%p
  Стоимость вашего заказа #{@order.total.to_i} грн.
  %b Товар в ограниченном количестве. Оплату желательно произвести в день получения инструкции.
%p
  Оплату можно произвести через любой терминал Приват банка либо через Приват24 на карту 5457-0929-0008-6707. Получатель - Роман Сардарян.
%p
  После оплаты вам необходимо подтвердить платеж  телефонным звонком на номер 098-023-93-07 (сообщить время и сумму платежа).
%p
  Регламентный срок доставки 10-18 бизнес дней. Оплата за вес посылки производится из расчета 80 грн. за кг.
%p
  Доставка по Украине бесплатно.