- content_for :meta_title, t('meta.articles.meta_title')
- content_for :meta_keywords, t('meta.articles.meta_keywords')
- content_for :meta_description, t('meta.articles.meta_description')
- content_for :seo_header, t('meta.articles.seo_header')

.deliveries_block_title= @article.title
.article_text= @article.description.html_safe