- set_meta 'about_us'
#content_wraper
  .deliveries_block_title
    О компании TRADEUKRAINEMARKET
  .about_us_style
    Компания
    %b " TRADEUKRAINEMARKET "
    создана относительно недавно, но уже сегодня является международной транспортно-экспедиторской компанией. На протяжении 3 лет
    %b " TRADEUKRAINEMARKET "
    специализируется на оказании международных транспортно-экспедиторских, логистических и таможенных услуг, и грузоперевозок. Мы осуществляем транспортировку любых грузов авиатранспортом с территории США.
  .deliveries_block_container
    .deliveries_block
      .certificate_sm_image
        = image_tag "certificate_sm.png"
    .deliveries_block
      %ul.deliveries_description
        %li Предоставляя весь спектр услуг по грузоперевозкам, оказываемых компанией " TRADEUKRAINEMARKET ", охватывает практически все направления данной сферы деятельности, основными из которых являются:
        %li
        %li
          %span - Организация доставки грузов по оптимальным транспортно - логистическим схемам  (от двери до двери);
        %li
        %li
          %span - Консолидация и дистрибуция грузов;
        %li
        %li
          %span - Весь спектр услуг по таможенному оформлению грузов в стране отправления и стране получения;
        %li
        %li
          %span - Страхование;
        %li
        %li
          %span - Сервис по закупке товаров на территории США с полным сопровождением и доставкой в «РУКИ» посылки заказчику.
        %li
        %li Предлагаем Вам наиболее выгодные тарифы и условия по доставке Вашего груза. Гарантируем Вам надежность высоко-ответственные профессионалы, которые ответят на все Ваши вопросы.
        %li
        %li
        %li
          %span.phone_namber Мы уверены, что наше сотрудничество будет результативным.
