- set_meta 'deliveries'
#content_wraper
  .deliveries_block_title
    Получение товара
    %br/
    %span
      При помощи этой информации вы сможете легко забрать свой товар.
      %br
      товар  предоставлен для внутреннего рынка США. Гарантия качества 100%. На сайте представлены сугубо оригиналы
  .deliveries_block_container
    .deliveries_block
      .deliveries_title Украина:
      %ul.deliveries_description
        %li - В офисе в Киеве или в Одессе;
        %li
        %li - В ближайшем отделении "Нова пошта" в вашем городе;
        %li
        %li - Поставка осуществляется в срок от 9-18 дней.;
        %li
        %li
          \- Оплата за вес осуществляется из расчета  -
          %b $9,90
          за кг.;
        %li
        %li
          %span Цена на сайте  указана без стоимости услуг оплаты за вес.
        %li
        %li
          Тел.
          %span.phone_namber +38 (098) 023-93-07
      .email_skype_style
        .footer_labe2
          %p.text1 E-mail:
        .footer_labe4
          %a.text1{:href => "mailto@shop.mydostavka@gmail.com"}
            %b shop.mydostavka@gmail.com
        .footer_labe2
          %p.text1 Skype:
        .footer_labe4
          %a.text1{:href => "#"}
            %b udg2010
          %span С 12:00 до 24:00
    .footer_h_sep
    .deliveries_block
      .deliveries_title Россия:
      %ul.deliveries_description
        %li - В ближайшем почтовом отделении;
        %li
        %li
          \-
          %b * Москва
          \- Посылки из США лично в руки;
        %li
        %li - Поставка осуществляется в срок от 18-24 дней.;
        %li
        %li
          \- Оплата за вес осуществляется из расчета  -
          %b $12,00
          за кг.;
        %li
        %li - Москва - 15$ одна посылка + 12$/кг.;
        %li
        %li
          %span Цена на сайте  указана без стоимости услуг оплаты за вес.
        %li
        %li
          Тел.
          %span.phone_namber +7 (929) 777-17-07
      .email_skype_style
        .footer_labe2
          %p.text1 E-mail:
        .footer_labe4
          %a.text1{:href => "mailto@shop.mydostavka@gmail.com"}
            %b shop.mydostavka@gmail.com
        .footer_labe2
          %p.text1 Skype:
        .footer_labe4
          %a.text1{:href => "#"}
            %b udg2010
          %span С 12:00 до 24:00
  .deliveries_block_container
    .deliveries_block
      .deliveries_title Казахстан:
      %ul.deliveries_description
        %li - В ближайшем отделении компании "DIMEX" в вашем городе;
        %li
        %li - Поставка осуществляется в срок от 9-18 дней.;
        %li
        %li
          \- Оплата за вес осуществляется из расчета  -
          %b $12,00
          за кг.;
        %li
        %li
          %span Цена на сайте  указана без стоимости услуг оплаты за вес.
        %li
        %li
          Тел.
          %span.phone_namber +7 (172) 777-17-07
      .email_skype_style
        .footer_labe2
          %p.text1 E-mail:
        .footer_labe4
          %a.text1{:href => "mailto@shop.mydostavka@gmail.com"}
            %b shop.mydostavka@gmail.com
        .footer_labe2
          %p.text1 Skype:
        .footer_labe4
          %a.text1{:href => "#"}
            %b udg2010
          %span С 12:00 до 24:00
    .footer_h_sep
    .deliveries_block
      .deliveries_title Молдова:
      %ul.deliveries_description
        %li - В офисе в г. Кишинев;
        %li
        %li - Курьеров в любой город Молдовы;
        %li
        %li - Поставка осуществляется в срок от 9-18 дней.;
        %li
        %li
          \- Оплата за вес осуществляется из расчета  -
          %b $12,00
          за кг.;
        %li
        %li - Москва - 15$ одна посылка + 12$/кг.;
        %li
        %li
          %span Цена на сайте  указана без стоимости услуг оплаты за вес.
        %li
        %li
          Тел.
          %span.phone_namber +37 (360) 690-698
      .email_skype_style
        .footer_labe2
          %p.text1 E-mail:
        .footer_labe4
          %a.text1{:href => "mailto@shop.mydostavka@gmail.com"}
            %b shop.mydostavka@gmail.com
        .footer_labe2
          %p.text1 Skype:
        .footer_labe4
          %a.text1{:href => "#"}
            %b udg2010
          %span С 12:00 до 24:00
