- cache do
  .error_block
    %h1= t('site_errors.header_500')
    %div
      %p.text1{:style=>"text-align: left; padding-right: 7px;"}
        = t('site_errors.text_500')
        %br
        Украина: +38(098)023-93-07
        %br
        Молдова: +37 360-690-698
        %br
        Казахстан: +7172 777-17-07
        %br
        Россия: +7 929 777-17-07
        %br
        США: +1 55 122-699-21