.login_block#login_form_detailed
  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
    = f.hidden_field :reset_password_token
    .login_block_body
      .lable_input
        .lable
          Новый пароль:
          %span *
        .input_left_side
        .input_style
          = f.password_field :password
        .input_right_side
      .lable_input
        .lable
          Повтор пароля:
          %span *
        .input_left_side
        .input_style
          = f.password_field :password_confirmation
        .input_right_side
      .button_right_functional
        %a.button{:href => "#", :id => 'login_submit_detailed'}
          %span.button_left
          %span.button_mid Готово
          %span.button_right
