#flash_message
  .pop_up_help_style
    .functional_container_popup
      .functional_block.functional_block_popup
        .functional_block_header_popup
          .functional_block_header_left_top
          .functional_block_header_right_top
        .functional_block_body.functional_block_body_popup
          .pop_up_text_style_end_order
            Спасибо, Ваш заказ
            %span 
              №
              = "%05d" % flash[:order_id]
            оформлен.
          .pop_up_text_style_end_order1 На указанный вами e-mail выслана копия заказа.
          .pop_up_text_style_end_order2 После поступления оплаты, заказ будет отправлен по указанному Вами адресу.  С Вами свяжется мнеджер и на еmail будет выслан инвойс для оплаты заказа
          .pop_up_text_style_end_order_separator
          .pop_up_text_style_end_order3
            = link_to 'Вернуться на главную', root_path
            %span
              %a{:href => "#", :class => 'simplemodal-close'} Закрыть
        /
          .functional_block_footer
            .functional_block_footer_left_bottom
            .functional_block_footer_right_bottom
