#order_call.hide
  .pop_up_help_style
    .functional_container_popup
      .functional_block.functional_block_popup
        .functional_block_header_popup
          .functional_block_header_left_top
          .functional_block_header_right_top
        .functional_block_body.functional_block_body_popup
          .pop_up_text_style_end_order
            Заказать звонок
          .pop_up_text_style_end_order1 Укажите номер своего мобильного телефона
          .pop_up_text_style_end_order2
            .phone_number_wrapper
              = form_tag order_call_path do
                .input_left_bg
                .input_style= text_field_tag :phone_number
                .input_right_bg
              .delimiter
            .submit_order_call
              %a.button{:href => "#"}
                .button_left
                .button_mid Отправить
                .button_right
              .delimiter

          .pop_up_text_style_end_order_separator