#flash_message
  .pop_up_help_style
    .functional_container_popup
      .functional_block.functional_block_popup
        .functional_block_header_popup
          .functional_block_header_left_top
          .functional_block_header_right_top
        .functional_block_body.functional_block_body_popup
          .pop_up_text_style_end_order
            Регистрация успешна
          .pop_up_text_style_end_order1 Вы успешно зарегестрированы на MQShop. В целях повышения надежности работы сервиса, пожалуйста подтвердите Ваш аккаунт. 
          .pop_up_text_style_end_order2 Проверьте указанный при регистрации почтовый адрес для подтверждения аккаунта
          .pop_up_text_style_end_order_separator
          .pop_up_text_style_end_order3
            = link_to 'Вернуться на главную', root_path
            %span
              %a{:href => "#", :class => 'simplemodal-close'} Закрыть
        /
          .functional_block_footer
            .functional_block_footer_left_bottom
            .functional_block_footer_right_bottom
