Ув.,
= @resource.full_name
%p 
  Вы или кто-то другой запросили изменение пароля в интернет магазине MQShop.com.ua. Если это не Вы, пожалуйста, проигнорируйте это письмо.
%p
  Для изменения пароля перейдите по ссылке 
%p= link_to 'Изменить мой пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p
  %br
  Администрация MQShop.com.ua
